<!-- <nav
  style="font-family: cursive; font-size: larger"
  class="navbar navbar-expand-lg navbar-dark bg-dark"
>
  <a
    *ngIf="userDetail"
    routerLink="/userprofile"
    style="cursor: pointer"
    class="navbar-brand"
    >logged by <b>{{ userDetail.firstname }}</b>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li style="cursor: pointer" class="nav-item active">
        <a routerLink="/home" class="nav-link"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li style="cursor: pointer" class="nav-item active">
        <a routerLink="/category" class="nav-link"
          >Category <span class="sr-only">(current)</span></a
        >
      </li>
      <li style="cursor: pointer" class="nav-item active">
        <a (click)="create()" class="nav-link"
          >Create Blog <span class="sr-only">(current)</span></a
        >
      </li>
      <li style="cursor: pointer" class="nav-item active">
        <a routerLink="/login" class="nav-link">Admin</a>
      </li>
      <li *ngIf="userDetail" style="cursor: pointer" class="nav-item active">
        <a (click)="logout()" class="nav-link">Log Out</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        #searchInput
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav> -->

<div class="login-page">
  <div class="form">
    <h2><b>Report Reason </b></h2>
    <br />
    <form class="login-form">
      <!-- <select
        [(ngModel)]="selectedReason"
        [ngModelOptions]="{ standalone: true }"
        (ngModelChange)="test()"
      >
        <option *ngFor="let reason of reasons" [value]="reason.reason">
          {{ reason.reason }}
        </option>
      </select> -->
      <mat-radio-group
        style="background-color: black"
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="selectedReason"
        [ngModelOptions]="{ standalone: true }"
      >
        <mat-radio-button
          class="example-radio-button"
          *ngFor="let reason of reasons"
          [value]="reason.reason"
        >
          {{ reason.reason }}
        </mat-radio-button>
      </mat-radio-group>
      <button (click)="submit()" type="button">Report</button>
    </form>
  </div>
</div>
